/* - - - - - - - - بسم الله الرحمن الرحیم - - - - - - - - */
/* - - - - - - - - Start Webfont Yekan - - - - - - - - */
@font-face {
  font-family: "vazir";
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url("./fonts/Vazir.woff") format("woff");
}
@font-face {
  font-family: "vazir";
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url("./fonts/Vazir-Bold.woff") format("woff");
}
/* - - - - - - - - End Webfont Yekan - - - - - - - - */

/* - - - - - - - - Start Reset style - - - - - - - - */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* - - - - - - - - End Reset style - - - - - - - - */

/* - - - - - - - - Start Root variable - - - - - - - - */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-heading-h3: #5f9ea0;
  --font-family-primary: "vazir";
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
  --avatar-size: 50px;
}
/* html */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: #00000000;
}
/* body */
body {
  line-height: 1.7;
  font-size: 1.4rem;
  font-family: var(--font-family-primary);
  color: var(--color-body);
}
/* button */
button {
  font-family: var(--font-family-primary);
}
/* list */
ul {
  font-weight: 300;
  list-style: none;
}
/* a */
a {
  font-weight: 300;
  text-decoration: none;
}
/* p */
p {
  font-weight: 300;
}
/* input */
input {
  font-family: var(--font-family-primary);
}
textarea {
  font-family: var(--font-family-primary);
}
/* - - - - - - - - End Root variable - - - - - - - - */

/* - - - - - - - - Start Container style - - - - - - - - */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  padding: 0rem 2rem;
}
@media screen and (min-width: 768px) {
  .block {
    padding: 0rem 2rem;
  }
}
.block-heading {
  margin-top: 6rem;
}
/* - - - - - - - - End Comtainer style - - - - - - - - */

/* - - - - - - - - Start Heading variable - - - - - - - - */
h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #201f1f;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
  h3 {
    font-size: 2.2rem;
  }
}
/* - - - - - - - - End Heading variable - - - - - - - - */

/* - - - - - - - - Start Buttons component - - - - - - - - */
.btn {
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  margin: 1rem 0;
  font-size: 1.4rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn--secondary {
  color: var(--color-white);
  background-color: var(--color-secondary-dark);
}
.btn--block {
  width: 100%;
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}
/* - - - - - - - - End Buttons component - - - - - - - - */

/* - - - - - - - - Start Badge component - - - - - - - - */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 32px;
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  text-transform: uppercase;
}
.badge--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}
/* - - - - - - - - End Badge component - - - - - - - - */
/* - - - - - - - - Start Header component - - - - - - - - */
.main-header {
  z-index: 100;
  font-weight: 300;
  background-color: var(--color-navbar);
  border-bottom: 1px solid #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav__toggler {
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background: #000;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
.nav__expanded .bar-1 {
  transform: rotate(-45deg) translate(-10px, 5px);
}
.nav__expanded .bar-2 {
  transform: translateX(-20px);
  opacity: 0;
}
.nav__expanded .bar-3 {
  transform: rotate(45deg) translate(-5px, -2px);
}
.nav__list {
  width: 100%;
  display: flex;
  font-size: 1.4rem;
  margin-top: 2rem;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
/* click toggler */
.nav__expanded .nav__list {
  opacity: 1;
  padding: 5px;
  padding-top: 10px;
  max-height: 100vh;
  border-radius: 12px;
  background-color: #ffffff;
}
.nav__item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}
.nav__list li a {
  display: block;
  color: #444444;
  padding-bottom: 1rem;
  transition: all 0.2s linear;
}
.nav__list li a:hover {
  color: var(--color-primary);
}
.btn--navbar {
  padding: 0.5rem 0;
}
.btn--navbar a:nth-child(1) {
  color: #ffffff;
  transition: all 0.2s linear;
}
.btn--navbar a:nth-child(1):hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}
@media screen and (min-width: 1024px) {
  .nav__toggler {
    display: none;
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0rem;
    margin-bottom: 1rem;
  }
  .nav__item {
    border: none;
    font-weight: 300;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 0rem;
    transition: all 0s linear;
  }
  .nav__list {
    width: auto;
    font-size: 1.6rem;
    flex-direction: row;
    max-height: 100%;
    opacity: 1;
  }
  .tapsi-nav-logo {
    padding-top: 2rem;
    margin: 0;
  }
  .btn--navbar {
    margin: 0;
    display: block;
    padding: 0rem 5rem;
    padding-top: 0.5rem;
  }
  .btn--navbar a:nth-child(1) {
    color: #ffffff;
  }
}
/* - - - - - - - - End Header component - - - - - - - - */

/* - - - - - - - - Start hero section component - - - - - - - - */
.hero-section {
  width: 100%;
  height: 478px;
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(./images/banner-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5rem;
}
.hero-section img {
  width: 100%;
  height: auto;
}
.hero-wrapper {
  width: 100%;
  height: 478px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-btn {
  padding: 15px;
  border-radius: 20px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
}
.intro-btn h1 {
  color: #fff;
}
.intro-btn h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.intro-btn-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.intro-btn__passenger {
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.intro-btn__passenger img {
  width: 25px;
}
.intro-btn__passenger-1,
.intro-btn__passenger-2 {
  background: #ffffff;
}
.intro-btn__passenger-3,
.intro-btn__passenger-4 {
  border: 2px solid #fff;
  color: #ffffff;
}
.mockup-phone {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
  .hero-wrapper {
    height: 478px;
  }
  .intro-btn-box {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .mockup-phone {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    grid-template-columns: 2fr 1fr;
  }
  .mockup-phone {
    margin-top: 9rem;
    display: block;
    width: auto;
  }
}
/* - - - - - - - - End hero section component - - - - - - - - */

/* - - - - - - - - Start services car section component - - - - - - - - */
.services-car {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.services-car__des-img img {
  display: none;
}
@media screen and (min-width: 1280px) {
  .services-car__des-img img {
    display: block;
    width: 100%;
  }
  .services-car__des-img img {
    order: 2;
  }
}
.services__tabs {
  display: flex;
  overflow: auto;
  flex-direction: row;
  padding: 5px 0 15px;
  justify-content: space-between;
}
.services__tabs a {
  display: flex;
  display: block;
  color: #444;
  max-width: 100px;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.services__tabs .tab > p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  font-weight: 300;
}
.services__tabs img {
  max-width: 85px;
}

.services__tabs .tab {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.services__tabs .tab:hover {
  opacity: 1;
}
.services__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .feature__title {
  margin: 1.5rem 0;
}
.services .feature__image {
  display: none;
}

.tab-content {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}
.services .feature__detail {
  width: 100%;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
}
.tab.active {
  opacity: 1;
}
/* - - - - - - - - End services section component - - - - - - - - */

/* - - - - - - - - Start List component - - - - - - - - */
.list {
  font-size: 1.8rem;
  list-style: none;
  font-weight: 300;
}
.list--inline .list__item {
  margin-left: 2rem;
  display: inline-block;
}
.list--tick .list__item {
  padding-right: 3rem;
  margin-bottom: 1.5rem;
  background: url(images/Tick-Square.svg) no-repeat;
  background-position: right center;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}
/* - - - - - - - - End List component - - - - - - - - */

/* - - - - - - - - Start Plan component - - - - - - - - */
.block-plan {
  margin-top: 2rem;
  display: grid;
  gap: 7rem 4rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.plan {
  font-size: 1.8rem;
  transform: scale(0.98);
  transition: all 0.2s ease-out;
}
.block-plan-main-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.plan--popular {
  transform: scale(1);
}
.plan:hover {
  transform: scale(0.99);
}
.plan--popular:hover {
  transform: scale(1.02);
}
.plan > h2 {
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.card {
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--color-secondary-light);
  box-shadow: #959da533 0px 8px 24px;
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__body {
  height: 435px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.card__header {
  color: var(--color-white);
  background-color: var(--color-secondary-dark);
}
.plan__introduction {
  display: flex;
  flex-flow: row;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  margin-top: 1rem;
}
.plan .btn--block {
  font-size: 1.7rem;
}
.plan--popular .card__header {
  background-color: var(--color-primary-light);
}
@media screen and (min-width: 1024px) {
  .block-plan {
    margin: auto;
  }
}
/* - - - - - - - - End Plan component - - - - - - - - */

/* - - - - - - - - Start Services component - - - - - - - - */
.services {
  display: grid;
  align-items: center;
  margin-bottom: 10rem;
}
.services__image > img {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 3rem;
}
.services__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__text {
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.services__text-link {
  cursor: pointer;
  color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__image > img {
    width: 100%;
  }
  .services__image {
    order: 2;
    margin-bottom: 0;
  }
  .services__detail {
    order: 1;
  }
  .services__image-2 {
    order: 1;
  }
  .services__detail-2 {
    order: 2;
  }
}
/* - - - - - - - - End Services component - - - - - - - - */

/* - - - - - - - - Start Advantage component - - - - - - - - */
.advantage {
  margin-top: 5rem;
  display: grid;
  gap: 5rem 4rem;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
}
.advantage--text__title {
  margin-bottom: 1rem;
}
.advantage--text__description {
  margin-bottom: 2rem;
}
.advantage--text__post {
  margin-bottom: 2rem;
  font-weight: 300;
}

.advantage--text__button {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.advantage--text__button button {
  width: 220px;
  height: 56px;
  padding: 5px 15px;
  color: #ffffff;
  margin-left: 1rem;
  background: #0065dc;
}
.advantage--image > img {
  width: 100%;
  border-radius: 12px;
}
@media screen and (min-width: 1024px) {
  .advantage {
    grid-template-columns: repeat(2, 1fr);
  }
  .advantage--text__button {
    flex-flow: row;
    justify-content: right;
  }
  .advantage--image {
    order: 2;
  }
}
/* - - - - - - - - End Advantage component - - - - - - - - */

/* - - - - - - - - Start Parallax component - - - - - - - - */
.parallax {
  height: 100%;
  line-height: normal;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-image: url(./images/parallax.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax__title {
  color: #ffffff;
  display: flex;
  font-weight: 300;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}
.parallax span {
  display: none;
}
.parallax h3:hover {
  color: #69a9f1;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .parallax {
    height: 180px;
    grid-template-columns: repeat(4, 1fr);
  }
}
/* - - - - - - - - End Parallax component - - - - - - - - */

/* - - - - - - - - Start Blog component - - - - - - - - */
.last-blog-post {
  margin-top: 2rem;
  display: grid;
  gap: 7rem 4rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.last-blog-post__title {
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.blog--post__image {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
  border-radius: 12px;
  vertical-align: baseline;
}
.blog--post__title {
  color: #5f5e5e; /* check color again */
  font-weight: 600;
  margin-bottom: 1rem;
}
.blog--post__description {
  text-align: justify;
  font-weight: 300;
}
/* - - - - - - - - End Blog component - - - - - - - - */

/* - - - - - - - - Start Contact us component - - - - - - - - */
.contact-us-main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.contact-us {
  display: grid;
  gap: 3rem;
  margin-bottom: 5rem;
}
/* map */
.contact-us__map {
  margin-bottom: 15rem;
}
.contact-us__map iframe {
  border-radius: 20px;
}
/* icon */
.icon {
  width: 30px;
  height: 30px;
}
.icon-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}
.contact-us__icons {
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.icon-holder {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 1rem;
}
.icon-holder span {
  margin-left: 1rem;
}

/* form */
.contact-us__form-title {
  text-align: center;
}
.contact-us__form-name,
.contact-us__form-email,
.contact-us__form-textarea {
  width: 100%;
  padding: 10px;
  display: block;
  border: none;
  outline: none;
  background: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.contact-us__form-name,
.contact-us__form-email {
  border-radius: 20px;
}
.contact-us__form-textarea {
  resize: none;
}
@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "icons form"
      "map form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    grid-area: map;
  }
  .contact-us__icons {
    grid-area: icons;
  }

  /* icon */
  .contact-us__icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .icon-holder {
    display: block;
    margin-left: 2rem;
  }
  .icon-holder span {
    margin-bottom: 1rem;
  }
}
/* - - - - - - - - End Contact us component - - - - - - - - */

/* - - - - - - - - Start Footer component - - - - - - - - */
.main-footer {
  color: #ffffff;
  min-height: 200px;
  background: linear-gradient(rgb(33, 39, 48), rgb(17, 24, 39), rgb(0, 0, 0));
}
.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.footer__item {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.footer__item-tapsi-white-logo {
  max-width: 100%;
  margin-bottom: 0;
}
.footer__item-logo-des {
  color: #ffffff;
  font-size: 1.2rem;
}
.footer__item h6 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.footer__item a {
  color: #ffffff;
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  transition: all 0.2s linear;
}
.footer__item a:hover {
  color: var(--color-primary);
}
.footer__item .footer__enamad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__enamad img {
  max-width: 80px;
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: #ffffff;
}
.footer-mobile {
  text-align: center;
}
.footer__mobile-icon img {
  max-width: 20px;
  margin-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.footer-mobile__me {
  color: #f9eace;
  margin-top: 2rem;
}
@media screen and (max-width: 300px) {
  .footer__enamad img {
    max-width: 50px;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-footer .footer {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .footer-mobile {
    display: none;
  }
}
/* - - - - - - - - End Footer component - - - - - - - - */
